.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.row:after,
.row:before {
	display: table;
	content: " "
}

.row:after {
	clear: both
}

.divider
{
    content: "";
    display: inline-block;
    width: 0px;
    height: 270px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    position: relative;
}

.col-sm-1
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-2
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-3
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-4
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-5
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-6
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-7
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-8
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-9
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-11
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-sm-12
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

@media (min-width:768px) {
  .col-sm-1 {
    float: left;
    width: 8.333%
  }
  .col-sm-2 {
    float: left;
    width: 16.667%
  }
	.col-sm-3 {
		float: left;
		width: 25%
	}
  .col-sm-4 {
    float: left;
    width: 33.333%
  }
  .col-sm-5 {
    float: left;
    width: 41.667%;
  }
  .col-sm-6 {
    float: left;
    width: 50%
  }
  .col-sm-7 {
    float: left;
    width: 58.333%;
  }
  .col-sm-8 {
    float: left;
    width: 66.667%
  }
  .col-sm-9 {
    float: left;
    width: 75%;
  }
  .col-sm-10 {
    float: left;
    width: 83.333%;
  }
  .col-sm-11 {
    float: left;
    width: 91.667%
  }
  .col-sm-12 {
    float: left;
    width: 100%
  }
}